<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./inc/head')%>
</head>
<body>
  <%-include('./inc/nav')%>
<section>
  <h1>Hakkımda</h1>
  <p>legam eram ipsum magna malis irure legam enim amet illum noster fugiat multos
    quorum fore quae nulla veniam velit labore illum sunt</p>
    <p>legam eram ipsum magna malis irure legam enim amet illum noster fugiat multos
      quorum fore quae nulla veniam velit labore illum sunt</p>

</section>
</body>
</html>
